<div class="d-flex navBar">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav flex-column" orientation="vertical left">
        
        <li ngbNavItem="middle top">
            <a (click)="setActive('middle top', 0)" ngbNavLink><img src="{{ activeItem(0) ? fileImageSrc : darkFileImageSrc }}" class="fileImage"/><p><strong>Bio</strong></p></a>
            <ng-template ngbNavContent>
                <app-window (onCloseTab)="closeTab()" [content]="content.bioObj"></app-window>
            </ng-template>
        </li>
        <li ngbNavItem="middle">
            <a (click)="setActive('middle', 1)" ngbNavLink><img src="{{ activeItem(1) ? fileImageSrc : darkFileImageSrc }}" class="fileImage"/><p><strong>Portfolio</strong></p></a>
            <ng-template ngbNavContent>
                <app-window (onCloseTab)="closeTab()" [content]="content.portObj"></app-window>
            </ng-template>
        </li>
        <li ngbNavItem="middle bottom">
            <a (click)="setActive('middle bottom', 2)" ngbNavLink><img src="{{ activeItem(2) ? fileImageSrc : darkFileImageSrc }}" class="fileImage"/><p><strong>Resume</strong></p></a>
            <ng-template ngbNavContent>
                <app-window (onCloseTab)="closeTab()" [content]="content.resObj"></app-window>
            </ng-template>
        </li>
        <li ngbNavItem="bottom">
            <a (click)="setActive('bottom', 3)" ngbNavLink><img src="{{ activeItem(3) ? fileImageSrc : darkFileImageSrc }}" class="fileImage"/><p><strong>Contact</strong></p></a>
            <ng-template ngbNavContent>
                <app-contact (onCloseTab)="closeTab()"></app-contact>
            </ng-template>
        </li>
        <li ngbNavItem="top">
            <a (click)="setActive('top')"ngbNavLink><img src="{{ trashCanImage }}" class="fileImage"/></a>
            <ng-template ngbNavContent>
                <app-intro></app-intro>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="ms-4"></div>
</div>
