.fileImage {
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
}

a {
    color: black;
    align-content: center;
}

a p {
    margin-left: 1rem;
    font-size: medium;
}

.nav {
    height: 95vh;
    flex-wrap: nowrap;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}