.card img {
    height: 40vh;
    border-radius: 1%;
}

.fs img {
    height: 100%;
}

.card {
    width: 100%;
}

ul.projectDeck{
    margin-top: 5%;
    list-style: none;
    padding: 0;
}

li.projectCard{
    background-image: url("src\assets\images\CardBGImg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5rem;
    color: #39FF14;
}

.btn-primary .DemoButton {
    color: whitesmoke;
}

p.workParagraph a {
    color: whitesmoke;
    font: bolder;
}

img.projectImg{
    width: 70%;
    height: 70%;
    align-self: center;
    border-radius: 1%;
    box-shadow: whitesmoke 0px 2.5px 7.5px;
}

h4.projectHead{
    font-size: 5vh;
}

.floating-header {
    position: fixed;
    flex-direction: row;
    background-color: #BEAA79;
    border: 5px solid #3F8885;
    border-radius: 25px;
    padding: 1rem;
}

.floating-header h1 {
    font-size: 5rem;
}
