<div class='carousel slide' data-ride='carousel'>
    <div class="controls-top" *ngIf="!fullScreen">
        <a (click)="setActive(false)"><button class="btn btn-success btn-md">&#x2190;</button></a>
    </div>
    <div class="carousel-inner" role='listbox'>
        <div class="carousel-item {{ getActive(0) ? 'active' : '' }}">
            <app-portfolio-card [fullscreen]="fullScreen" [type]="content.projects.header" [value]="content.projects.value" (toggleShowMoreEmit)="toggle()" [image]="content.projects.cardImgSrc"></app-portfolio-card>
        </div>
        <div class="carousel-item {{ getActive(1) ? 'active' : '' }}">
            <app-portfolio-card [fullscreen]="fullScreen" (active)="getActive(1)" [type]="content.blogs.header" [value]="content.blogs.value" (toggleShowMoreEmit)="toggle()" [image]="content.blogs.cardImgSrc"></app-portfolio-card>
        </div>
        <div class="carousel-item {{ getActive(2) ? 'active' : '' }}">
            <app-portfolio-card [fullscreen]="fullScreen" (active)="getActive(2)" [type]="content.school.header" [value]="content.school.value" (toggleShowMoreEmit)="toggle()" [image]="content.school.cardImgSrc"></app-portfolio-card>
        </div>
    </div>
    <div class="controls-top" *ngIf="!fullScreen">
        <a (click)="setActive(true)"><button class="btn btn-success btn-md">&#x2192;</button></a>
    </div>
</div>

