<div class='carousel slide' data-ride='carousel'>
    <div class="carousel-inner" role='listbox'>
        <div class="carousel-item {{ getActive(0) ? 'active' : '' }}">
            <app-portfolio-card type="Projects"></app-portfolio-card>
        </div>
        <div class="carousel-item {{ getActive(1) ? 'active' : '' }}">
            <app-portfolio-card (active)="getActive(1)" type="Blogs"></app-portfolio-card>
        </div>
        <div class="carousel-item {{ getActive(2) ? 'active' : '' }}">
            <app-portfolio-card (active)="getActive(2)" type="School"></app-portfolio-card>
        </div>
    </div>
    <div class="controls-top">
        <a (click)="setActive(false)"><button class="btn btn-success btn-md"><-</button></a>
        <a (click)="setActive(true)"><button class="btn btn-success btn-md">-></button></a>
    </div>
</div>