.desktopBackground {
    background-image: url("src\assets\images\pixelBG.png");
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#desktopTaskbar {
    width: 100%;
    background-color: #BEAA79;
    height: 3rem;
}

#main-container {
    flex: content;
}