.desktopBackground {
    background-image: url("src\assets\images\pixelBG.png");
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#desktopTaskbar {
    width: 100%;
    background-color: #BEAA79;
    height: 3rem;
    bottom: 0;
    position: absolute;
}

#main-container {
    flex: content;
}

.fileImage {
    width: 5rem;
    height: 5rem;
    margin-left: 1rem;
}